<footer class="block block--dark footer">
    <div class="container grid">
        <div class="contact">
            <h3 class="contact__heading">Get in touch</h3>
            <span class="contact__email">Abbasikaan@gmail.com</span>
        </div>
        <div class="location">
            <h3 class="location__heading">Location</h3>
            <p class="location__address">Warsaw - Poland</p>
        </div>
        <div class="social">
            <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
            <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
            <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
        </div>
    </div>
</footer>
