<section class="block block--dark block--skewed-left hero">
  <di class="container grid grid--1x2">
      <header class="block__header hero__content">
          <span>Hello!</span>
          <h1 class="block__heading">I'm Younos</h1>
          <p class="hero__tagline">A Front-End Web Developer</p>
          
              <a href="" class="btn btn--accent btn--stretched"
                  >Download cv</a
              >
          
      </header>
      <img class="hero__image" src="/images/banner.png" alt="" />
  </div>
</section>