<section class="block container block-plans">
    <div class="grid grid--1x3">
        <!-- First plan -->
        <div class="plan">
            <div class="card card--secondary">
                <div class="card__header">
                    <span class="icon-container">
                        <svg class="icon icon--secondary">
                            <use xlink:href="images/sprite.svg#easy"></use>
                        </svg>
                    </span>
                    <h3 class="plan__name">Social Media</h3>
                    <span class="plan__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Beatae, deleniti!</span
                    >
                    <span class="badge badge--secondary badge--square"
                        >Newbie</span
                    >
                </div>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Html</li>
                        <li class="list__item">CSS</li>
                        <li class="list__item">JavaScript</li>
                    </ul>
                    <button class="btn btn--outline btn--block">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
        <!-- second plan -->
        <div class="plan">
            <div class="card card--primary">
                <div class="card__header">
                    <span class="icon-container">
                        <svg class="icon icon--secondary">
                            <use xlink:href="images/sprite.svg#easy"></use>
                        </svg>
                    </span>
                    <h3 class="plan__name">Social Media</h3>
                    <span class="plan__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Beatae, deleniti!</span
                    >
                    <span class="badge badge--primary badge--square"
                        >Newbie</span
                    >
                </div>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Html</li>
                        <li class="list__item">CSS</li>
                        <li class="list__item">JavaScript</li>
                    </ul>
                    <button class="btn btn--outline btn--block">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
        <!-- Third plan -->
        <div class="plan">
            <div class="card card--secondary">
                <div class="card__header">
                    <span class="icon-container">
                        <svg class="icon icon--secondary">
                            <use xlink:href="images/sprite.svg#easy"></use>
                        </svg>
                    </span>
                    <h3 class="plan__name">Social Media</h3>
                    <span class="plan__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Beatae, deleniti!</span
                    >
                    <span class="badge badge--secondary badge--square"
                        >Newbie</span
                    >
                </div>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Html</li>
                        <li class="list__item">CSS</li>
                        <li class="list__item">JavaScript</li>
                    </ul>
                    <button class="btn btn--outline btn--block">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
