<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolore
        placeat harum alias non mollitia quo magni similique aperiam dolores!
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote--line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Younos</h3>
                <p class="quote__profession">Software Engineer</p>
            </div>
        </div>
    </footer>
</blockquote>
