<section class="skills block container">
    <header class="skills__header">
        <h2 class="skills__heading">Skills</h2>
        <p class="skills__description">
            The tools & technologies I've mastered
        </p>
    </header>
    <div class="logos">
        <img class="icon" src="/images/html.svg" alt="" />
        <img class="icon" src="/images/html.svg" alt="" />
        <img class="icon" src="/images/js.svg" alt="" />
        <img class="icon" src="/images/typescript.svg" alt="" />
        <img class="icon" src="/images/tailwind.svg" alt="" />
        <img class="icon" src="/images/react.svg" alt="" />
        <img class="icon" src="/images/redux.svg" alt="" />
        <img class="icon" src="/images/nextjs.svg" alt="" />
        <img class="icon" src="/images/nodejs.svg" alt="" />
        <img class="icon" src="/images/express.svg" alt="" />
        <img class="icon" src="/images/mongodb.svg" alt="" />
        <img class="icon" src="/images/docker.svg" alt="" />
        <img class="icon" src="/images/jest.svg" alt="" />
        <img class="icon" src="/images/git.svg" alt="" />
        <img class="icon" src="/images/github.svg" alt="" />
    </div>
    <div class="skills__list">
        <h3 class="skills__list-heading">Workflow</h3>
        <ul class="list list--tick">
            <li class="list__item">Modern Tech Stack</li>
            <li class="list__item">Mobile-First, Responsive Design</li>
            <li class="list__item">Cross Browser Testing & Debugging</li>
            <li class="list__item">Accessibility, Performance Optimization</li>
            <li class="list__item">Collaboration</li>
        </ul>
    </div>
</section>
